nav, main, footer {
  width: 100%; }

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -1px 10px #ccc;
  overflow: hidden; }

footer {
  padding-bottom: 10px; }

img {
  border-radius: .35rem; }

h3 {
  font-size: 1.3rem; }

#dialog {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto; }
  #dialog #contents {
    margin: 50px auto;
    max-width: 800px;
    padding: 50px 30px;
    box-shadow: 0px 2px 5px #eee, 0px -1px 2px #eee;
    background-color: #fff; }
    #dialog #contents h3 {
      text-align: center; }
    #dialog #contents li {
      margin: 0;
      margin-left: .5rem; }
    #dialog #contents p {
      margin: 20px 0; }
    #dialog #contents .btn-group {
      text-align: center; }
      #dialog #contents .btn-group .button {
        width: 6rem; }
      #dialog #contents .btn-group button.button {
        border: 1px solid #990b12;
        cursor: pointer;
        color: #fff;
        background-color: #990b12;
        margin-right: 20px; }
      #dialog #contents .btn-group a.button:hover {
        color: #990b12;
        background-color: #fff; }

#banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; }

#banner .dots li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  transition: background .5s, opacity .5s; }

#banner .dots li.active {
  background: #fff;
  opacity: 1; }

#banner .arrow {
  position: absolute;
  top: 50%;
  width: 15px;
  transform: translateY(-100%); }

#banner #al {
  left: 15px; }

#banner #ar {
  right: 15px; }

.main-wd {
  margin: 0 auto;
  max-width: 1200px; }

.xs-nav {
  min-width: 375;
  padding: 0 !important;
  background: rgba(255, 255, 255, 0.9);
  display: none; }
  .xs-nav li {
    margin: 0;
    flex: 1; }
  .xs-nav a {
    padding: .5rem 0;
    width: 100%;
    text-align: center;
    color: #4d4d4d;
    display: block; }
    .xs-nav a:hover {
      color: #990b12; }
  .xs-nav .xs-nav-active {
    color: #fff;
    background-color: #990b12; }

.header {
  height: 80px;
  border-bottom: 1px solid #ccc;
  overflow: hidden; }
  .header .content {
    padding: 0px 10px; }
    .header .content img {
      width: 220px; }
  .header .nav a, .header .login a {
    min-width: 80px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: #4d4d4d;
    display: block; }
    .header .nav a:hover, .header .login a:hover {
      color: #fff;
      background-color: #990b12; }
  .header .login a {
    min-width: 90px;
    color: #990b12; }
    .header .login a:hover {
      text-decoration: underline;
      color: #990b12;
      background: transparent; }
  .header .nav {
    width: 55%; }
    .header .nav li {
      margin: 0;
      flex: 1 1 auto; }

a.nav-active {
  color: #fff !important;
  background-color: #990b12; }

.main {
  position: relative;
  z-index: 98;
  padding-top: 80px; }
  .main .banner {
    position: relative;
    z-index: -1;
    overflow: auto;
    text-align: center; }
    .main .banner ul li {
      float: left;
      margin: 0; }
    .main .banner img {
      width: 100%; }
  .main .section {
    width: 100%;
    background-color: #fff; }
    .main .section > div {
      padding: 40px 20px; }
    .main .section > div:nth-child(even) {
      background: whitesmoke; }
    .main .section > div:last-of-type {
      border-top: 1px solid #eee;
      background: #fff; }
    .main .section .btn-more {
      margin: 30px auto;
      margin-bottom: -10px;
      text-align: center;
      line-height: 2em; }
      .main .section .btn-more a {
        cursor: pointer; }
    .main .section .btn-more.radius a {
      padding: 10px 30px;
      border: 1px solid;
      border-radius: 2rem;
      transition: background-color .5s ease-in-out; }
      .main .section .btn-more.radius a:hover {
        color: #fff;
        background-color: #990b12; }
    .main .section .button {
      margin-top: 10px;
      color: #990b12; }
      .main .section .button:hover {
        color: #fff; }
    .main .section .title, .main .section .subtitle {
      margin-bottom: 1rem;
      line-height: 2rem;
      text-align: center;
      color: #4d4d4d; }
      .main .section .title span, .main .section .subtitle span {
        margin: 0 auto;
        padding-bottom: .25rem;
        border-bottom: 2px solid #990b12; }
    .main .section .subtitle {
      text-align: left; }
    .main .section .outline {
      border: 2px solid #ccc; }
    .main .section .section-content p {
      font-size: .8rem;
      color: #aaa;
      line-height: 2em; }
    .main .section .card {
      margin: 10px;
      padding: 20px;
      padding-bottom: 30px;
      min-width: 280px;
      max-width: 350px;
      border: 1px solid #eeeeee;
      border-radius: .75rem;
      background-color: #fff;
      flex: 1; }
      .main .section .card .title {
        text-align: left;
        font-size: 16px;
        line-height: 1.15; }
      .main .section .card img {
        width: 100%;
        height: 150px;
        display: block;
        background-color: #eee; }
      .main .section .card .small-text {
        padding-top: 10px;
        font-size: 12px; }
      .main .section .card .button {
        width: 100%;
        border-radius: .25rem; }
    .main .section .company-pic img {
      width: 100%;
      height: 240px;
      display: block;
      background-color: #eee; }
    .main .section .company-pic, .main .section .company {
      padding: 0 30px; }
    .main .section .company, .main .section .company-pic, .main .section .news-introduction, .main .section .news-list {
      margin-bottom: 10px;
      min-width: 375px;
      flex: 1; }
    .main .section .small-text {
      font-size: 12px;
      color: #aaa;
      display: inline-block; }
    .main .section .news-introduction {
      padding: 20px; }
      .main .section .news-introduction img {
        width: 100%;
        display: block;
        background-color: #eee; }
      .main .section .news-introduction h2, .main .section .news-introduction p, .main .section .news-introduction .small-text {
        margin-top: 1rem; }
    .main .section .news-list li:hover {
      background: whitesmoke; }
    .main .section .news-list a {
      width: 100%;
      padding: 15px 5px;
      display: block; }
    .main .section .news-date {
      width: 6em;
      display: inline-block; }
      .main .section .news-date span {
        display: block;
        text-align: right; }
      .main .section .news-date > span:first-of-type {
        font-size: 2rem;
        color: #990b12; }
      .main .section .news-date > span:last-of-type {
        font-size: 1rem;
        color: #990b12; }
    .main .section .news-content {
      margin-left: 1rem;
      width: calc(100% - 7.5rem);
      display: inline-block; }
      .main .section .news-content .title {
        text-align: left;
        margin-bottom: 5px; }
      .main .section .news-content .title, .main .section .news-content .small-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block; }

.footer {
  font-size: 13px;
  background-color: #fff; }
  .footer-one {
    padding: 10px;
    color: #fff;
    background-color: #535353; }
    .footer-one p {
      line-height: 2em; }
  .footer .copy {
    margin-top: 10px;
    text-align: center;
    color: #4d4d4d;
    line-height: 2em;
    cursor: default; }
  .footer-one .flex-between, .footer-one .flex-around {
    align-items: flex-start; }
  .footer-list > li:first-of-type {
    color: #fff;
    margin-bottom: 20px; }
  .footer-list li {
    margin-bottom: 15px; }
  .footer-list a {
    margin-left: -1px;
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: border-color .3s ease-in; }
    .footer-list a:hover {
      color: #fff;
      border-color: #ccc; }

.logolist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .logolist img {
    max-width: 200px;
    margin: 20px 10px; }
    .logolist img:hover {
      transform: scale(1.05, 1.05); }

@media (max-width: 768px) {
  ul.nav {
    display: none; }
  ul.xs-nav {
    display: flex; }
  .main {
    padding-top: 112px; } }
